<template>
  <div class="about overflow-scroll h-full pt-4 md:pt-20 px-5">
      <p>
        <strong>Das Historische Museum im ehemaligen Minoritenkloster erläutert die Kunst- und Kulturgeschichte von der Steinzeit bis zum 19. Jahrhundert.</strong> <br><br>
        Die Sammlungen umschließen Themenkreise der Vor- und Frühgeschichte, Römerzeit, Steinplastik des Mittelalters, Leben und Handel im mittelalterlichen Regensburg, Sakralkunst des 15./16. Jahrhunderts bis zu Wohnkultur und Kunsthandwerk des 16. bis 19. Jahrhunderts.<br>
        <br>
      </p>

      <h2 class="text-primary font-normal text-lg mb-2">Öffnungszeiten</h2>
      <p>
        <table class="w-full mt-2 mb-4 text-left">
          <col class="w-4/6">
          <col class="w-2/6">
          <tr>
            <th style="font-weight: normal; font-style: italic">Di bis So und Feiertage</th>
            <th style="font-weight: normal; font-style: italic">10-16 Uhr</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">01.11.</th>
            <th style="font-weight: normal; font-style: italic">Geschlossen</th>
          </tr>
        </table>
      </p>

      <h2 class="text-primary font-normal text-lg mb-2">Eintrittspreise</h2>
      <p>
        <table class="w-full mt-2 mb-4 text-left">
          <col class="w-4/6">
          <col class="w-1/6">
          <col class="w-1/6">
          <tr>
            <th style="font-weight: normal; font-style: italic">normal:</th>
            <th style="font-weight: normal; font-style: italic">5,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">ermäßigt*:</th>
            <th style="font-weight: normal; font-style: italic">2,50</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">Familien:</th>
            <th style="font-weight: normal; font-style: italic">10,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">Jeder 1. Sonntag im Monat:</th>
            <th style="font-weight: normal; font-style: italic">frei</th>
            <th style="font-weight: normal; font-style: italic">–</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">Für Regensburger Schulklassen:</th>
            <th style="font-weight: normal; font-style: italic">frei</th>
            <th style="font-weight: normal; font-style: italic">–</th>
          </tr>
        </table>
      </p>

      <h2 class="text-primary font-normal text-lg mb-2">Führungen</h2>
      <p>
        <strong>Öffentliche Führungen in der Ausstellung „Stadt - Land - Fluss":</strong><br>
        Jeden zweiten Sonntag, 14 Uhr <br>
        9.9. | 23.9. | 7.10. | 21.10. | 4.11. | 18.11. <br>
        <table class="w-full mt-2 mb-4 text-left">
          <col class="w-4/6">
          <col class="w-1/6">
          <col class="w-1/6">
          <tr>
            <th style="font-weight: normal; font-style: italic">normal:</th>
            <th style="font-weight: normal; font-style: italic">7,50</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">ermäßigt*:</th>
            <th style="font-weight: normal; font-style: italic">4,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">Familien:</th>
            <th style="font-weight: normal; font-style: italic">15,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
        </table>

        <strong>Gruppenführungen in der Ausstellung „Stadt – Land – Fluss“:</strong><br>
        Sonderführungen nach Vereinbarung <br>
        <table class="w-full mt-2 mb-4 text-left" style="margin-bottom: 0.3em;">
          <col class="w-4/6">
          <col class="w-1/6">
          <col class="w-1/6">
          <tr>
            <th style="font-weight: normal; font-style: italic">deutsch:</th>
            <th style="font-weight: normal; font-style: italic">55,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">+ Eintritt pro Person:</th>
            <th style="font-weight: normal; font-style: italic">2,50</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
        </table>

        <u>Cultheca - Kulturpädagogik und -kommunikation:</u> <br>
        Drei-Kronen-Gasse 2 <br>
        D-93047 Regensburg <br>
        Tel.: 0049(0)941/69 89 69 46 <br>
        Fax: 0049(0)941/69 89 69 45 <br> <br>

        <strong>Museumspädagogik:<br>
        Führungen für Schulklassen</strong> <br>

        nach Vereinbarung <br>

        <table class="w-full mt-2 mb-4 text-left" style="margin-bottom: 0.3em;">
          <col class="w-4/6">
          <col class="w-1/6">
          <col class="w-1/6">
          <tr>
            <th style="font-weight: normal; font-style: italic">deutsch:</th>
            <th style="font-weight: normal; font-style: italic">55,00</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
          <tr>
            <th style="font-weight: normal; font-style: italic">+ Eintritt pro Person:</th>
            <th style="font-weight: normal; font-style: italic">2,50</th>
            <th style="font-weight: normal; font-style: italic">Euro</th>
          </tr>
        </table>

        <u>Cultheca - Kulturpädagogik und -kommunikation:</u> <br>
        Drei-Kronen-Gasse 2 <br>
        D-93047 Regensburg <br>
        Tel.: 0049(0)941/69 89 69 46 <br>
        Fax: 0049(0)941/69 89 69 45 <br> <br>

        <strong>*</strong>ermäßigte Preise erhalten: Personen unter 18 Jahre, Studenten, Schüler, Bundesfreiwilligendienstleistende, Renten-, Versorgungs-, Arbeitslosengeld II- und Sozialhilfeempfänger, Schwerbehinderte - jeweils gegen Ausweis -, sowie geschlossene Gruppen (ab 10 Personen) <br><br>
      </p>

      <h2 class="text-primary font-normal text-lg mb-2">Anfahrt und Kontakt</h2>

      <p>
        <strong>Historisches Museum</strong><br>
        Dachauplatz 2-4 <br>
        D-93047 Regensburg <br>
        Tel.: (0941) 507 - 2448 (Kasse)<br>
        Email: <a href="mailto:museen_der_stadt@regensburg.de">museen_der_stadt@regensburg.de</a><br>
        Internet: <a href="https://www.regensburg.de/kultur/museen-in-regensburg/alle-museen/historisches-museum">Website Historisches Museum</a><br><br>
      </p>
      <p>
        <strong>Bild mit Wegbeschreibung</strong>
        <br/><br/>
        <img src="@/assets/map_about.jpg">
        <br/><br/>
      </p>

      <p>
        <strong>CULTHECA - Kulturpädagogik und Kommunikation</strong><br>
        Drei-Kronen-Gasse 2 <br>
        D-293047 Regensburg <br>
        Tel.: (0941) 69 89 69 46 <br>
        Fax: (0941) 69 89 69 45 <br>
        Email: <a href="mailto:info@cultheca.de">info@cultheca.de</a><br>
        Internet: <a href="www.cultheca.de/">www.cultheca.de/</a><br><br>
      </p>
  </div>
</template>

<script>
export default {
  name: 'about',
};
</script>
