<template>
  <div class="overflow-scroll h-full">
    <div class="mx-7 pt-8 pb-3">
        <p class="text-primary text-m font-semibold">Kategorie | Titel</p>
        <div class="border-grey-darkest bg-grey-dark h-px"></div>
        <div class="py-4">
            <p class="text-secondary-dark text-base">{{ event.category }}</p>
            <p class="text-primary text-xl font-semibold">{{ event.title }}</p>
        </div>
    </div>
    <EventMetadata class="mx-7 pb-3" label="Veranstaltungsdaten" :data="metadata"/>
    <EventParagraph v-if="visible(paragraph)" :data="paragraph"/>
  </div>
</template>

<script>
import EventMetadata from '@/components/Metadata.vue';
import EventParagraph from '@/components/Paragraph.vue';
import allEventsMuseum from '@/assets/data/events_museum.json';
import allEventsCity from '@/assets/data/events_city.json';

export default {
  name: 'exhibitDetail',

  components: {
    EventMetadata,
    EventParagraph,
  },

  computed: {
    id() {
      return this.$route.params.id;
    },

    event() {
      let currEvent = null;
      if (this.$route.params.location === 'museum') {
        allEventsMuseum.forEach((element) => {
          if (element.id === this.id) {
            currEvent = element;
          }
        });
      } else if (this.$route.params.location === 'city') {
        allEventsCity.forEach((element) => {
          if (element.id === this.id) {
            currEvent = element;
          }
        });
      }
      return currEvent;
    },

    metadata() {
      const data = [];
      data.push(this.formateDate(this.event.date));
      if (this.event.endDate !== undefined) {
        data.push(this.formateDate(this.event.endDate));
      }
      if (this.event.time !== undefined) {
        data.push(this.event.time);
      }
      if (this.event.location !== undefined) {
        data.push(this.event.location);
      }
      return data;
    },

    paragraph() {
      let par = '';
      if (this.event.text !== undefined) {
        par = this.event.text;
      }
      return par;
    },
  },

  methods: {
    formateDate(date) {
      const splitDate = date.split('/');
      const dateString = `${splitDate[2]}.${splitDate[1]}.${splitDate[0]}`;
      return dateString;
    },
    visible(array) {
      if (array.length === 0) {
        return false;
      }
      return true;
    },
  },
};
</script>
