<template>
  <div class="events flex flex-col h-full">
    <div class="flex-none flex w-full bg-primary items-stretch">
      <button v-for="(tab, index) in tabs" :key="tab.location"
        class="flex-auto outline-none focus:outline-none text-white pb-2 align-center text-xl font-bold border-b-2"
        :class="stateClass(index)"
        @click="activateTab(index)" >
          {{ tab.title }}
      </button>
    </div>

    <List class="flex-1 overflow-auto" :events="activeTab.events" :location="activeTab.location" />

  </div>
</template>

<script>
import List from '@/components/EventList.vue';

import allEventsMuseum from '@/assets/data/events_museum.json';
import allEventsCity from '@/assets/data/events_city.json';


function compareEvents(a, b) {
  if (a.date < b.date) {
    return -1;
  } else if (a.date > b.date) {
    return 1;
  }
  if (a.time !== undefined && b.time !== undefined) {
    const aSorted = a.time.split(':');
    const bSorted = b.time.split(':');
    if (aSorted[0] !== bSorted[0]) {
      return aSorted[0] - bSorted[0];
    }
    return aSorted[1] - bSorted[1];
  }
  return 0;
}


const sortedMuseumEvents = allEventsMuseum.slice().sort(compareEvents);
const sortedCityEvents = allEventsCity.slice().sort(compareEvents);


export default {
  name: 'Events',
  components: {
    List,
  },

  data() {
    return {
      tabs: [
        {
          title: 'Museum',
          location: 'museum',
          events: sortedMuseumEvents,
        },
        {
          title: 'Stadt',
          location: 'city',
          events: sortedCityEvents,
        },
      ],
      activeTabIndex: 0,
    };
  },

  computed: {
    activeTab() {
      return this.tabs[this.activeTabIndex];
    },
  },

  methods: {
    activateTab(index) {
      this.activeTabIndex = index;
    },

    stateClass(index) {
      return (this.activeTabIndex === index)
        ? 'border-white'
        : 'border-primary';
    },
  },
};

</script>
