<template>
  <div class="exhibits flex flex-col h-full">

    <SearchBar :exhibits="exhibits" :filterStart="filter" @updateList="updateList" @onChangeInput="onChangeInput" class="flex-none" />

    <ExhibitList v-if="exhibitsToShow.length"
      class="flex-1 overflow-auto"
      :exhibitsToShow="exhibitsToShow"  />

    <div v-else class="text-center text-3xl text-grey mt-20">
      Keine Ausstellungsobjekte gefunden!
    </div>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar.vue';
import ExhibitList from '@/components/ExhibitList.vue';
import wrapper from '@/exhibits-wrapper';

export default {
  name: 'exhibits',

  components: {
    SearchBar,
    ExhibitList,
  },

  data() {
    return ({
      exhibits: wrapper.getData(),
      exhibitsToShow: [],
      filter: '',
    });
  },

  methods: {
    updateList(exhibitsToShow) {
      this.exhibitsToShow = exhibitsToShow;
    },

    sortExhibits(exhibit1, exhibit2) {
      const ex1 = parseInt(exhibit1.nr, 10);
      const ex2 = parseInt(exhibit2.nr, 10);
      if (ex1 < ex2) {
        return -1;
      }
      return 1;
    },

    onChangeInput(input) {
      this.filter = input;
    },
  },

  mounted() {
    this.exhibits.sort(this.sortExhibits);
    this.exhibitsToShow = this.exhibits.slice();
  },
};
</script>
