<template>
  <div class="overflow-scroll h-full">
    <ExhibitCarousel v-if="visible(images)" class="text-center mx-24 pt-8 pb-3" :data="images"/>
    <div class="mx-7 pt-8 pb-3">
        <p class="text-primary text-m font-semibold">Autor | Titel | Nr. {{exhibit.nr}}</p>
        <div class="border-grey-darkest bg-grey-dark h-px"></div>
        <div class="py-4">
            <p class="text-secondary-dark text-base">{{ exhibit.artist }}</p>
            <p class="text-primary text-xl font-semibold" v-html="exhibit.title"></p>
        </div>
    </div>
    <ExhibitMetadata v-if="visible(metadata)" class="mx-7 pb-3" :data="metadata"/>
    <ExhibitCategories v-if="visible(categories)" class="mx-7 pb-3" :data="categories"/>
    <ExhibitParagraph v-if="visible(paragraph)" :data="paragraph"/>
    <ExhibitAudio v-if="visible(audio)" class="mx-7" :data="audio"/>
    <ExhibitVideo v-if="visible(video)" class="mx-7" :data="video"/>
  </div>
</template>

<script>
import ExhibitCarousel from '@/components/ExhibitCarousel.vue';
import ExhibitMetadata from '@/components/Metadata.vue';
import ExhibitParagraph from '@/components/Paragraph.vue';
import ExhibitAudio from '@/components/ExhibitAudio.vue';
import ExhibitVideo from '@/components/ExhibitVideo.vue';
import ExhibitCategories from '@/components/ExhibitCategories.vue';
import wrapper from '@/exhibits-wrapper';

export default {
  name: 'exhibitDetail',

  components: {
    ExhibitCarousel,
    ExhibitMetadata,
    ExhibitParagraph,
    ExhibitAudio,
    ExhibitVideo,
    ExhibitCategories,
  },

  computed: {
    id() {
      return this.$route.params.id;
    },

    exhibit() {
      return wrapper.getExhibit(this.id);
    },

    categories() {
      const categories = [];
      if (this.exhibit.categories !== undefined) {
        Object.keys(this.exhibit.categories).forEach((k) => {
          categories.push(this.exhibit.categories[k]);
        });
      }
      return categories;
    },

    images() {
      const images = [];
      if (Object.keys(this.exhibit.images).length > 0) {
        Object.keys(this.exhibit.images).forEach((k) => {
          images.push(this.exhibit.images[k]);
        });
      } else if (Object.keys(this.exhibit.image).length > 0) {
        images.push(this.exhibit.image);
      }
      return images;
    },

    metadata() {
      const metadata = [];

      if (this.exhibit.place !== undefined && this.exhibit.dateinfo !== undefined) {
        let origin = '';
        if (this.exhibit.place.length > 0) {
          origin += `${this.exhibit.place}, `;
        }
        if (this.exhibit.dateinfo.length > 0) {
          origin += this.exhibit.dateinfo;
          metadata.push(origin);
        }
      }

      if (this.exhibit.location !== undefined && this.exhibit.invnr !== undefined) {
        if (this.exhibit.location.length > 0) {
          metadata.push(this.exhibit.location);
        }
        if (this.exhibit.invnr.length > 0) {
          metadata.push(this.exhibit.invnr);
        }
      }

      return metadata;
    },

    audio() {
      const audio = [];

      if (this.exhibit.audio !== undefined && Object.keys(this.exhibit.audio).length > 0) {
        Object.keys(this.exhibit.audio).forEach((value) => {
          audio.push(this.exhibit.audio[value]);
        });
      }

      return audio;
    },

    video() {
      const video = [];
      return video;
    },

    paragraph() {
      let par = '';
      if (this.exhibit.text !== '') {
        par = this.exhibit.text;
      }
      return par;
    },

  },
  methods: {
    visible(array) {
      if (array === undefined) {
        return false;
      }
      if (array.length === 0) {
        return false;
      }
      return true;
    },
  },
};
</script>
