<template>
    <div class="game h-full">
      <div id="categoryFrame">{{ currentQuestion.category }}</div>
        <div v-if="(index > 0) && (index <= questions.length)" class="text-center text-grey-darkest">Frage {{ index }} von {{ questions.length }}</div>
        <div id="questionFrame">{{ currentQuestion.question }}</div>
        <div id="answers">
            <button class="answerFrame1 answer-button" :class="computedColor1" :disabled="disabled" @click="answerHandler(1)">{{ currentQuestion.answers.a1 }}</button>
            <button class="answerFrame2 answer-button" :class="computedColor2" :disabled="disabled" @click="answerHandler(2)">{{ currentQuestion.answers.a2 }}</button>
            <button class="answerFrame3 answer-button" :class="computedColor3" :disabled="disabled" @click="answerHandler(3)">{{ currentQuestion.answers.a3 }}</button>
            <button class="answerFrame4 answer-button" :class="computedColor4" :disabled="disabled" @click="answerHandler(4)">{{ currentQuestion.answers.a4 }}</button>
        </div>
        <div class="points" :class="{ 'text-primary': (index === 16) }">{{ points }}/{{ questions.length }} Punkte</div>
        <div id="button-wrapper">
          <button v-if="disabled" class="nextButton arrow-button" @click="handleNextButton()">
            <span class="inline-block pr-8">{{ nextButton }}</span>
          </button>
          <button v-if="(chosenAnswer !== 0)&&(!disabled)" class="lockButton" @click="handleLockButton()">Antwort überprüfen</button>
        </div>
    </div>
</template>

<script>
import wrapper from '@/game-wrapper';

export default {
  name: 'game',

  data() {
    return {
      questions: wrapper.getData(),
      index: 0,
      currentQuestion: {
        question: 'Ein Quiz über die Geschichte Regensburgs',
        category: 'Quiz',
        answers: {
          a1: '',
          a2: '',
          a3: '',
          a4: '',
        },
      },
      nextButton: 'Quiz starten',
      disabled: true,
      chosenAnswer: 0,
      points: 0,
    };
  },

  computed: {
    computedColor1() {
      return this.bgColor(1);
    },

    computedColor2() {
      return this.bgColor(2);
    },

    computedColor3() {
      return this.bgColor(3);
    },

    computedColor4() {
      return this.bgColor(4);
    },
  },

  methods: {
    bgColor(index) {
      return {
        'bg-orange-light': (this.chosenAnswer === index) && (!this.disabled),
        'bg-primary-dark': (this.chosenAnswer === index) && (this.disabled) && (this.currentQuestion.correctAnswer !== index),
        'text-white': (this.chosenAnswer === index) && (this.disabled) && (this.currentQuestion.correctAnswer !== index),
        'bg-green-light': (this.currentQuestion.correctAnswer === index) && (this.disabled),
      };
    },

    handleNextButton() {
      if (this.index < this.questions.length) {
        this.currentQuestion = this.questions[this.index];
        this.index += 1;
        this.disabled = false;
        if (this.index === 1) {
          this.nextButton = 'Weiter';
        }
        if (this.index === this.questions.length) {
          this.nextButton = 'Spiel beenden';
        }
      } else if (this.index === this.questions.length) {
        this.nextButton = 'Neues Spiel';
        this.currentQuestion = {
          question: 'Spielstand',
          category: 'Ende',
          answers: {
            a1: '',
            a2: '',
            a3: '',
            a4: '',
          },
        };
        this.index = 16;
      } else {
        this.shuffleQuestions();
        this.index = 0;
        this.currentQuestion = {
          question: 'Ein Quiz über die Geschichte Regensburgs',
          category: 'Quiz',
          answers: {
            a1: '',
            a2: '',
            a3: '',
            a4: '',
          },
        };
        this.nextButton = 'Quiz starten';
        this.points = 0;
      }
      this.chosenAnswer = 0;
    },

    handleLockButton() {
      this.disabled = true;
      if (this.chosenAnswer === this.currentQuestion.correctAnswer) {
        this.points += 1;
      }
    },

    answerHandler(chosenAnswer) {
      this.chosenAnswer = chosenAnswer;
    },

    shuffleQuestions() {
      let currentIndex = this.questions.length;
      let temporaryValue;
      let randomIndex;
      while (currentIndex !== 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
        temporaryValue = this.questions[currentIndex];
        this.questions[currentIndex] = this.questions[randomIndex];
        this.questions[randomIndex] = temporaryValue;
      }
    },
  },

  mounted() {
    this.shuffleQuestions();
  },
};
</script>

<style scoped src="@/css/game.css"></style>
