<template>
  <div class="home overflow-scroll h-full pt-4 md:pt-20">
    <div class="text-center">
        <img class="w-3/5 h-3/5" src="@/assets/logo_big.png" alt="Logo der Stadt Regensburg">
    </div>
    <div class="mx-5">
        <div class="border-grey-darkest bg-grey-darkest h-px m-4"></div>
        <div class="text-base" v-html="home.text"></div>
    </div>
  </div>
</template>

<style>
h2 {
  color: #E30613;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 400;
  display: block;
  margin-bottom: .5rem;
}
</style>

<script>
import wrapper from '@/static-wrapper';

export default {
  name: 'home',
  data() {
    return {
      home: Object,
    };
  },

  mounted() {
    this.home = wrapper.getHome();
  },

};
</script>
