<template>
  <div class="imprint overflow-scroll h-full pt-4 md:pt-20 px-5" >
  <div class="text-base" v-html="imprint.text"></div>
  </div>
</template>

<style>
h1, h2, h3 {
  color: #E30613;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 400;
  display: block;
  margin-bottom: .5rem;
}
h3 {
  font-size: 1rem;
}
ul {
padding: 5px;
    padding-left: 20px;
}
</style>


<script>
import wrapper from '@/static-wrapper';

export default {
  name: 'imprint',
  data() {
    return {
      imprint: Object,
    };
  },

  mounted() {
    this.imprint = wrapper.getImprint();
  },

};
</script>
