<template>
  <div class="timeline">
    <div class="h-9/10 w-full overflow-scroll absolute container">
    <ul class="river">
      <li>
        <div class="box">
        </div>
        <div class="exponate-info start">Folge dem Fluss der Zeit in Regensburg!
        </div>
      </li>
      <li v-for="exhibit in orderedExhibits" :key="exhibit.id" v-if="!!exhibit.dateinfo && !(exhibit.dateinfo === '')">
        <div class="box">
        </div>
        <div class="exponate-info">
          <div class="tooltip">{{getShortDate(exhibit.dateinfo)}}
            <div class="tooltiptext" @click="setPreviewIndex(exhibit.id)">
              <Carousel :perPage="1" paginationActiveColor="#E30613" paginationColor="#E2E2E2" :paginationPadding="7" :paginationSize="12">
                <Slide class="slide">
                  <router-link class="router-link" :to="getPath(exhibit)">
                    <img class="exhibit-image" v-if="(exhibit.image !== '') && (exhibit.image.thumb_300 !== '')" :src="exhibit.image.thumb_300" :alt="alt(exhibit.image)" :title="copyright(exhibit.image)"/>
                    <p class="exhibit-title" v-html="trimTitleLength(exhibit.title)"></p>
                  </router-link>
                </Slide>
                <Slide>
                  <div class="text-base text-grey-darkest" v-html="firstSen(exhibit.text)"></div>
                  <router-link class="router-link" :to="getPath(exhibit)"><p class="link">zum Artikel</p></router-link>
                </Slide>
              </Carousel>
            </div>
          </div>

        </div>
      </li>
      <li class="last">
        <div class="box">
        </div>
        <div class="exponate-info">
        </div>
      </li>
    </ul>
    </div>
  </div>

</template>

<style scoped src="@/css/timeline.css">
</style>

<script>
import exponates from '@/assets/data/exhibits.json';
import Icon from '@/components/Icon.vue';
import { Carousel, Slide } from 'vue-carousel';
import wrapper from '@/exhibits-wrapper';

export default {
  components: {
    Icon,
    Carousel,
    Slide,
  },
  name: 'timeline',
  data() {
    return ({
      exhibits: wrapper.getData(),
      previewIndex: -1,
    });
  },

  props: {
    data: Array,
  },

  methods: {
    firstSen(text) {
      if (text.length > 100) {
        return `${text.substring(0, 150)}...`;
      }
      return text;
    },

    setPreviewIndex(index) {
      this.previewIndex = index;
    },
    jsonToArray(k) { return exponates[k]; },


    getPath(exhibit) {
      return `/exhibits/${exhibit.id}`;
    },

    trimTitleLength(title) {
      const MAX_DESCRIPTION_LENGTH = 60;
      if (title.length >= MAX_DESCRIPTION_LENGTH) {
        let trimmedTitle = title.slice(0, MAX_DESCRIPTION_LENGTH);
        trimmedTitle += '...';
        return trimmedTitle;
      }
      return title;
    },

    getShortDate(longDate) {
      let year = longDate.match(/\b\d{3,4}\b|\d{2}\./)[0];
      if (parseInt(year, 10) < 21) {
        year += ' Jh.';
      }
      return year;
    },

    alt(image) {
      if (image.alt === '') {
        return null;
      }
      return image.alt;
    },

    copyright(image) {
      if (image.copyright === '') {
        return null;
      }
      return `© ${image.copyright}`;
    },
  },

  computed: {
    orderedExhibits() {
      return [...this.exhibits].sort(wrapper.sortExhibits);
    },
  },

};
</script>
