<template>
  <div class="tours h-9/10 md:h-4/5 p-6 md:mt-20 overflow-scroll absolute">
    <div v-for="(tour, index) in tours" tag="div" class="no-underline mt-4" :key="index">
      <div @click="toggleList(index)">
        <div class="text-lg text-primary font-semibold pb-1">{{ tour.title }}</div>
        <div class="text-base text-grey-darkest pb-2">{{ tour.text }}</div>
        <div class="text-center">
          <Icon v-if="!showTour[index]" icon="circle-down" class="text-secondary-light pt-2 text-xl" />
          <Icon v-if="showTour[index]" icon="circle-up" class="text-secondary-light pt-2 text-xl" />
        </div>
        <div class="border-grey-darkest bg-grey-darkest h-px mr-8 ml-8 mt-2"></div>
      </div>
      <ExhibitList v-if="showTour[index]" :exhibitsToShow="getExhibits(tour.linked_expos)"></ExhibitList>
    </div>
  </div>
</template>

<script>
import ExhibitList from '@/components/ExhibitList.vue';
import Icon from '@/components/Icon.vue';
import wrapper from '@/exhibits-wrapper';

export default {
  name: 'tours',

  components: {
    ExhibitList,
    Icon,
  },

  props: {
    showTour: Array,
  },

  data() {
    return ({
      tours: wrapper.getTours(),
    });
  },

  methods: {
    toggleList(index) {
      this.$emit('toggledTourList', index);
    },

    getExhibits(linkedExpos) {
      const exhibits = [];
      for (let i = 0; i < linkedExpos.length; i += 1) {
        exhibits.push(wrapper.getExhibit(linkedExpos[i].id));
      }
      return exhibits;
    },
  },
};
</script>
