<template>
  <div class="mt-3">
    <router-link v-for="eventEl in events" :key="eventEl.id"
      class="block pb-1 no-underline"
      :to="getPath(eventEl)">
      <div class="inline-flex flex-col items-center p-4 pr-4 pl-8 w-1/5 align-baseline">
        <div class="text-4xl text-primary font-semibold" v-html="getDay(eventEl.date)"></div>
        <div class="text-xl text-grey-darkest font-semibold" v-html="getMonth(eventEl.date)"></div>
      </div>
      <div class="inline-block p-4 pr-8 w-4/5 align-top overflow-hidden">
        <div class="text-lg text-primary font-semibold pb-1">{{ eventEl.title }}</div>
        <div class="text-base text-grey-darkest font-bold" >{{ eventEl.category }}</div>
        <div class="text-base text-grey-darkest" v-html="firstPart(eventEl.text)"></div>
        <div class="text-base text-grey-darkest pt-2">{{ formateDate(eventEl.date)  + checkTime(eventEl.time) +  checkEndDate(eventEl.endDate) + " | " + eventEl.location}}</div>
      </div>
      <div class="border-grey-darkest bg-grey-darkest h-px mr-12 ml-12 mt-1"></div>
    </router-link>
  </div>
</template>

<script>

export default {

  props: {
    events: Array,
    location: String,
  },

  methods: {


    formateDate(date) {
      const splitDate = date.split('/');
      const dateString = `${splitDate[2]}.${splitDate[1]}.${splitDate[0]}`;
      return dateString;
    },

    getPath(eventEl) {
      return `/events/${this.location}/${eventEl.id}`;
    },

    firstPart(text) {
      if (text !== undefined) {
        return `${text.slice(0, 120)}...`;
      }
      return '';
    },

    checkTime(time) {
      if (time !== undefined) {
        return ` - ${time}`;
      }
      return '';
    },

    checkEndDate(endDate) {
      if (endDate !== undefined) {
        const formateDate = this.formateDate(endDate);
        return ` - ${formateDate}`;
      }
      return '';
    },

    getDay(date) {
      const splitDate = date.split('/');
      return splitDate[2];
    },

    getMonth(date) {
      const splitDate = date.split('/');
      const months = ['JAN', 'FEB', 'MÄR', 'APR', 'MAI', 'JUN', 'JUL', 'AUG', 'SEP', 'OKT', 'NOV', 'DEZ'];
      const index = parseInt(splitDate[1], 10);
      return months[index - 1];
    },

  },

};
</script>
