<template>
  <div>
    <p class="text-primary text-m font-semibold">Audio</p>
      <div class="border-grey-darkest bg-grey-dark h-px"></div>
      <div class="py-4" v-for="(audio, index) in data" :key="index">
        <p class="py-4 text-grey-darkest">{{audio.title}}</p>
        <audio class="text-center" :src="audio.file" controls controlsList="nodownload">
        </audio>
      </div>
  </div>
</template>

<script>

export default {
  props: {
    data: Array,
  },
};
</script>
