<template>
  <div class="w-full">
      <router-link v-for="(exhibit, index) in exhibitsToShow" class="pb-1" :key="index" :to="getPath(exhibit)">
        <div class="inline-block p-4 pr-4 pl-8 w-1/4 text-center">
          <img :src="source(exhibit)" :alt="alt(exhibit)" :title="copyright(exhibit)">
          <div class="text-m text-left text-primary pt-1">Nr. {{ exhibit.nr }}</div>
        </div>
        <div class="inline-block p-4 pr-8 w-3/4 align-top">
          <div class="text-lg text-primary font-semibold pb-1" v-html="exhibit.title"></div>
          <div class="text-base text-grey-darkest" v-html="exhibit.abstract"></div>
        </div>
        <div class="border-grey-darkest bg-grey-darkest h-px mr-12 ml-12 mt-1"></div>
      </router-link>
  </div>
</template>

<script>
export default {
  name: 'exhibitList',

  props: {
    exhibitsToShow: Array,
  },

  methods: {
    getPath(exhibit) {
      return `/exhibits/${exhibit.id}`;
    },

    source(exhibit) {
      if (exhibit.image === '') {
        return null;
      }
      return exhibit.image.thumb_q300;
    },

    alt(exhibit) {
      if (exhibit.image.alt === '' || exhibit.image.alt === undefined) {
        return null;
      }
      return exhibit.image.alt;
    },

    copyright(exhibit) {
      if (exhibit.image.copyright === '' || exhibit.image.copyright === undefined) {
        return null;
      }
      return `© ${exhibit.image.copyright}`;
    },
  },
};
</script>
