<template>
 <div>
    <p class="text-primary text-m font-semibold">Kategorien</p>
    <div class="border-grey-darkest bg-grey-dark h-px"></div>
    <div class="inline-block py-4 leading-normal">
        <p class="text-grey-darkest float-left rounded-full px-4 mr-1 my-1 bg-secondary-light" v-for="(categories, index) in data" :key='index'>{{ categories }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Array,
  },
};
</script>
