<template>
    <Carousel :perPage="1" paginationActiveColor="#E30613" paginationColor="#E2E2E2">
        <Slide v-for="(image, index) in data" :key="index" >
            <img class="w-auto h-auto" v-img :src="source(image)" :alt="alt(image)" :title="copyright(image)">
        </Slide>
    </Carousel>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  components: {
    Carousel,
    Slide,
  },

  props: {
    data: Array,
  },

  methods: {
    source(image) {
      if (image.thumb_1024 === '') {
        return null;
      }
      return image.thumb_1024;
    },

    alt(image) {
      if (image.alt === '') {
        return null;
      }
      return image.alt;
    },

    copyright(image) {
      if (image.copyright === '') {
        return null;
      }
      return `© ${image.copyright}`;
    },
  },
};
</script>
