<template>
<div id="video">
  <p class="text-primary text-m font-semibold">Video</p>
        <div class="border-grey-darkest bg-grey-dark h-px"></div>
        <div class="py-4 text-center" v-for="(video, index) in data" :key="index">
            <video controls>
              <source :src="source(video)" type="video/mp4">
            </video>
        </div>
</div>
</template>

<script>
export default {

  props: {
    data: Array,
  },

  methods: {
    source(video) {
      if (video.srcVideo === '') {
        return null;
      }
      return video;
    },
  },
};
</script>
