<template>
    <i class="icon" :class="iconClass" />
</template>
<script>
export default {
  props: {
    icon: String,
  },

  computed: {
    iconClass() {
      return `icon-${this.icon}`;
    },
  },
};
</script>
