<template>
    <div class="relative overflow-auto text-center w-screen h-screen">
        <div class="absolute z-10 text-center pt-20">
            <div class="w-screen text-grey-darkest text-7xl leading-small py-2 md:text-14xl">Stadt</div>
            <div class="border-primary bg-primary h-1 mx-10"></div>
            <div class="w-screen text-grey-darkest text-9xl leading-small py-2 md:text-14xl">Land</div>
            <div class="border-primary bg-primary h-1 mx-10"></div>
            <div class="w-screen text-grey-darkest text-8xl leading-small py-2 md:text-14xl">Fluss</div>
        </div>
        <div class="absolute pt-84 z-0 md:pt-106">
            <img src="@/assets/flussverlauf.svg" alt="Flussverlauf Donau">
        </div>
        <div class="absolute w-screen text-center pt-160 z-20">
            <button class="focus:outline-none text-primary" @click="showExhibition">Zur Ausstellung</button>
        </div>
    </div>
</template>

<script>
export default {
  methods: {
    showExhibition() {
      this.$emit('exhibition');
    },
  },
};
</script>
