<template>
  <div>
      <div class="py-4 leading-normal">
          <p class="text-grey-darkest" v-for="(metadata,index) in data" :key='index' :class="bgColor(index)">{{ metadata }}</p>
      </div>
  </div>
</template>

<script>
export default {

  props: {
    data: Array,
  },

  methods: {
    bgColor(index) {
      if (index % 2) {
        return '';
      }
      return 'bg-secondary-light';
    },
  },
};
</script>
