<template>
  <header class="z-40 flex items-center fixed pin-t pin-x bg-primary text-white text-xl font-bold">
    <button v-if="!navigateBack" class="focus:outline-none inline-block md:invisible px-6 py-4 hover:bg-primary-light" @click="toggleMenu">
      <Icon icon="menu" class="text-white" />
    </button>
    <button v-if="navigateBack" class="focus:outline-none inline-block px-6 py-4 hover:bg-primary-light" @click="$router.go(-1)">
      <Icon icon="arrow-left2" class="text-white" />
    </button>

    <h1 class="text-xl mx-4 text-white font-bold">{{ title }}</h1>

    <transition name="slide" v-if="!navigateBack" >
      <nav v-if="menuOpen" class="flex-wrap overflow-scroll md:overflow-hidden pin-l pin-t h-screen md:h-auto absolute pin-l md:static bg-secondary-darkest md:bg-transparent md:inline-block" @click="toggleMenu">
        <button class="focus:outline-none flex justify-end w-full p-6 pb-20 md:hidden hover:bg-secondary-darker">
          <Icon icon="arrow-left2" class="text-white"/>
          </button>
          <ul class="list-reset">
            <router-link v-if="link.meta.title" v-for="link in routes"
              tag="li" class="md:inline-block" :key="link.to" :to="link.path">
              <a class="block p-6 text-white no-underline hover:bg-secondary-darker md:hover:bg-primary-light">
                {{ link.meta.title }}
              </a>
            </router-link>
          </ul>
      </nav>
    </transition>
  </header>
</template>
<script>
import Icon from '@/components/Icon.vue';
import Hammer from 'hammerjs';

export default {
  components: {
    Icon,
  },

  props: {
    routes: Array,
    title: String,
    menuOpen: Boolean,
  },

  data() {
    return {
      hammertime: null,
    };
  },

  computed: {
    navigateBack() {
      return this.$route.meta.navigateBack;
    },
  },

  methods: {
    onSwipeRight() {
      if (!this.menuOpen) {
        this.toggleMenu();
      }
    },

    onSwipeLeft() {
      if (this.menuOpen) {
        this.toggleMenu();
      }
    },

    toggleMenu() {
      this.$emit('toggledMenu');
    },
  },

  mounted() {
    this.hammertime = new Hammer.Manager(document.body, {
      touchAction: 'auto',
      inputClass: Hammer.SUPPORT_POINTER_EVENTS ? Hammer.PointerEventInput : Hammer.TouchMouseInput,
      recognizers: [
        [
          Hammer.Swipe, {
            direction: Hammer.DIRECTION_HORIZONTAL,
            threshold: 150,
          },
        ],
      ],
    });
    this.hammertime.on('swiperight', this.onSwipeRight);
    this.hammertime.on('swipeleft', this.onSwipeLeft);
  },
};
</script>
