<template>
 <div>
    <div class="mx-7">
        <p class="text-primary text-m font-semibold">Info</p>
        <div class="border-grey-darkest bg-grey-dark h-px"></div>
        <div class="py-4">
          <p class="text-grey-darkest" style="white-space: pre-wrap;" v-html="data"></p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: String,
  },
};
</script>
