<template>
  <div class="bg-white w-full p-6 pb-8 md:pt-24">
    <input type="text" v-model="filter" placeholder="Suche nach Titel, Nummer & Kategorie" class="outline-none w-5/6 h-8 inline-block text-base text-grey-darkest" @keyup="onSearch"/>
    <Icon icon="search" class="text-secondary-light inline-block float-right pt-2 w-8 h-8" />
    <div class="border-grey-darkest bg-grey-darkest h-px"></div>
  </div>
</template>
<script>
import Icon from '@/components/Icon.vue';

export default {

  components: {
    Icon,
  },

  props: {
    exhibits: Array,
    filterStart: String,
  },

  data() {
    return ({
      exhibitsToShow: [],
      filter: this.filterStart,
    });
  },

  methods: {
    onSearch() {
      this.exhibitsToShow = [];
      if (this.filter === '') {
        this.exhibitsToShow = this.exhibits;
      } else {
        this.exhibits.forEach((exhibit) => {
          if (this.filter.length < 3 && exhibit.nr === this.filter) {
            this.exhibitsToShow.push(exhibit);
          } else if (exhibit.title.toLowerCase().indexOf(this.filter.toLowerCase()) !== -1) {
            this.exhibitsToShow.push(exhibit);
          } else if (exhibit.categories !== undefined) {
            exhibit.categories.forEach((category) => {
              if (category.toLowerCase().indexOf(this.filter.toLowerCase()) !== -1) {
                this.exhibitsToShow.push(exhibit);
              }
            });
          }
        });
      }
      this.$emit('updateList', this.exhibitsToShow);
    },
  },

  beforeDestroy() {
    this.$emit('onChangeInput', this.filter);
  },
};
</script>
