.game{
    padding-top: 50px;
    color: #3d4852;
}
.nextButton:hover{
    border-style: none;
}
#button-wrapper{
    width: 90%;
    height: 50px;
    margin: 10px auto;
    text-align: center;
}
.arrow-button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
	background: #515151;
	background: linear-gradient(-135deg, transparent 22px, #515151 0) top right,
				linear-gradient(-45deg, transparent 22px, #515151 0) bottom right;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	font-style: OpenSans;
    margin-top: 25px;
    font-size: 15px;
	color: #fff;
    text-align: center;
}
.lockButton{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border-color: #515151;
    background-color: #515151;
    margin-top: 25px;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-style: OpenSans;
}
.points{
    margin: 0 auto;
    text-align: center;
}
#categoryFrame{
    height: 50px;
    width: 75%;
    background: #fff;
    margin: 0 auto;
    color: #E30613;
    text-align : center;
    font-size: 40px;
    font-style: OpenSans;
}
#questionFrame{
    min-height: 50px;
    width:90%;
    background: #e5e5e5;
    margin: 40px auto 0 auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
#answers{
    min-height: 200px;
    height: auto;
    width: 90%;
    background: #e5e5e5;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}
.answer-button{
    min-height: 50px;
    background: white;
    color: #3d4852;
    border-radius: 10px;
    margin-top: 2.5%;
    margin:10px;
    padding: 5px;

    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    outline:none;
}
.answer-button.bg-orange-light {
    background-color: #fcaa0f;
}
.answer-button.bg-primary-dark {
    background-color: #cc0511;
}
.answer-button.bg-green-light {
    background-color: #0f5;
}
.answer-button.text-white {
    color: #fff;
}
*:focus {
    outline: 0 !important;
}
.hidden{
    display: none;
}
