@import "./open-sans.css";
@import "./icomoon.css";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
    @apply font-sans;
    /*
     * Base font on most pages is 38px ->
     * Images are scaled by 3, so we use round(38/3) = 13
     *
     * @TODO: Need to figure out a scaling/responsive setting for this
     */
    font-size: 13px;
}

.slide-enter-active {
  transition: all .2s linear;
}
.slide-leave-active {
  transition: all .2s linear;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-220px);
  opacity: 0;
}
