/* Canvas Settings */
.container {
  text-align: center;
  background-color: white;
  background-size: 40%;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20vw;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.last {
  flex-direction: inherit;
  justify-content: inherit;
  display: flex;
  margin-top: -20vw;
  vertical-align: bottom;
}
/*General List Settings for river appearance */

/* Water */
.box {
  height:80vw;
  width:40vw;
  border-radius: 0 40vw 40vw 0;
  background:rgba(11, 174, 215, 0.877);
}

li:nth-child(odd) .box{
border-radius: 0 40vw 40vw 0;
margin-left: 40vw;
}

.last:nth-child(odd) .box{
  height: 40vw;
border-radius: 0 40vw 0 0;

}

.last:nth-child(even) .box{
  height: 40vw;
border-radius: 40vw 0 0 0 ;
}

li:nth-child(even) .box{
-webkit-box-shadow: inset 7px 0px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 7px 0px 5px -3px rgba(0,0,0,0.75);
box-shadow: inset 7px 0px 5px -3px rgba(0,0,0,0.75);
border-radius:  40vw 0 0 40vw;
}

/* Overlay for Timemarks */

.exponate-info{
  height:40vw;
  width:70vw;
  background-color: white;
  background-size: 55%;
  position:absolute;
  box-shadow: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li:nth-child(odd) .exponate-info{
  border-radius: 0 20vw 20vw 0;
  left: 0;
  -webkit-box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
}

li:nth-child(even) .exponate-info{
  border-radius: 20vw 0 0 20vw;
  right: 0;
}

.last .exponate-info{
  height:20vw;
  margin-top: 20vw;
}

.last:nth-child(odd) .exponate-info{
  border-radius: 0 20vw 0 0;
  left: 0;
  -webkit-box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 0px 3px -3px rgba(0,0,0,0.75);
}

.last:nth-child(even) .exponate-info{
  border-radius: 20vw 0 0 0;
  right: 0;
  
}

/* Yearmark */

.tooltip {
  position: relative;
  display: inline-block;
  background: #db0000;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
  width: 12vw;
  height: 12vw;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.tooltip .tooltiptext {
width: 60vw;
background-color: rgb(230, 230, 230, 0.5);
color: black;
text-align: center;
border-radius: 2vw;
position: absolute;
z-index: 1;
right: 110%;
-webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);

}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 50%;
border-width: 5px;
border-style: solid;
margin-top: -1.5vw;
max-height: 30vw;
}
.tooltip .tooltiptext {
visibility: visible;
}

li:nth-child(odd) .tooltip {
  left: 63vw;
}

li:nth-child(even) .tooltip {
left: -5vw;
}

li:nth-child(odd) .tooltip .tooltiptext{
right: 110%;
}

li:nth-child(even) .tooltip .tooltiptext{
left: 110%;
}

li:nth-child(odd) .tooltip .tooltiptext::after{
left: 100%;
border-color: transparent transparent transparent white;
}

li:nth-child(even) .tooltip .tooltiptext::after{
right: 100%;
border-color: transparent white transparent transparent;
}

/* Infobox for Yearmark */

.arrow_box {
float:left;
position: relative;
width: 30vw;
background: #f7f7f7;
font-size: 300%;
height: 35vw;
margin-left: 0;
text-align: center;
text-overflow: hidden;
}
.arrow_box:after, .arrow_box:before {
left: 35vw;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.arrow_box:after {
border-left-color: #ffffff;
border-width: 30px;
margin-top: -30px;
}
.arrow_box:before {
border-left-color: #c2e1f5;
margin-top: -36px;
  }

/* Settings for Infobox */

.exhibit-title{
font-weight: bold;
line-height: auto;
font-size: 3vw;
text-align: center;
padding: 2vw;
padding-top: 2vw;
margin-bottom: -1.5vw;
font-size: 4vw;
color: black;
display: inline-block;
z-index: 999;
}

.exhibit-image {
  padding: 2vw;
  padding-bottom: 0;
  max-height: 25vw;
  float:center;
}

.text-base {
  text-align: left;
  padding: 3vw;
  max-height: 40vw;
  text-overflow: ellipsis;
  font-size: 4vw;
}

.link{
  float: right;
  padding-right: 4vw;
  color: red;
  font-size: 3.2vw;

}

.router-link {
  text-decoration: none;

}

.text-black {
    display: inline-block;
    padding: 4vw;
    font-size: 4vw;
    color: #db0000c9;
  }

  /*Welcome Msg */

.start {
    font-size: 6vw;
    font-weight:bold;
    color: #E30613;
  }
