<template>
  <div>
      <LandingPage v-if="landingPageVisible" @exhibition="exhibition"></LandingPage>
      <div v-else id="app" class="h-screen pt-14">
        <Navigation :title="computedTitle" :routes="routes" :menuOpen="menuOpen" @toggledMenu="toggledMenu" />
        <router-view class="pt-0" :showTour="showTour" @click.native="closeMenu" @toggledTourList="toggledTourList" :class="{ 'overflow-hidden': menuOpen && !matchesMedia }" />
      </div>
  </div>
</template>
<script>
import LandingPage from '@/components/LandingPage.vue';
import Navigation from '@/components/Navigation.vue';
import wrapper from '@/exhibits-wrapper';

export default {
  components: {
    Navigation,
    LandingPage,
  },

  data() {
    return ({
      landingPageVisible: false,
      view: 'Stadt, Land, Fluss',
      matchesMedia: false,
      menuOpen: false,
      showTour: [],
    });
  },

  computed: {
    computedTitle() {
      if (!this.matchesMedia) {
        return this.$route.meta.title;
      }
      return 'Stadt, Land, Fluss';
    },

    routes() {
      return this.$router.options.routes;
    },
  },

  methods: {
    toggledTourList(index) {
      this.showTour.splice(index, 1, !this.showTour[index]);
    },

    onMediaQueryChange(e) {
      this.matchesMedia = e.matches;
      this.menuOpen = e.matches;
    },

    toggledMenu() {
      if (!this.matchesMedia) {
        this.menuOpen = !this.menuOpen;
      }
    },

    closeMenu() {
      if (this.menuOpen && !this.matchesMedia) {
        this.menuOpen = false;
      }
    },

    exhibition() {
      this.landingPageVisible = false;
    },
  },

  mounted() {
    this.matchMedia = window.matchMedia('(min-width: 768px)');
    this.matchMedia.addListener(this.onMediaQueryChange);
    this.matchesMedia = this.matchMedia.matches;
    this.menuOpen = this.matchesMedia;

    if (this.$route.name === 'home') {
      this.landingPageVisible = true;
    }

    this.showTour = new Array(wrapper.getTours().length).fill(false);
  },

  beforeDestroy() {
    this.matchMedia.removeListener(this.onMediaQueryChange);
    this.matchMedia = null;
  },
};
</script>
